/package-lock.json

/app/
/bootstrap/
/config/
/database/
/docs/
/node_modules/

/resources/journeys
/resources/lang
/resources/sdk
/resources/views
/public/
/routes/
/storage/
/stubs/
/tests/
/vapor/
/vendor/
/vendor-bin/